<div class="jumbotron">
  <h1>Prosperity</h1>
  <h3>What makes a prosperous region?</h3>
  <p>Read about the qualities that make a prosperous region, and how Metro Boston is suited to become a more prosperous region in more ways than one.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Read more</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4">
      <a href="#">
        <h3>Sustainable Growth Patterns</h3>
        <p>Are we living within our means?</p>
        <p><a class="btn btn-success btn-lg" role="button">Read more</a></p>
      </a>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <a href="#">
        <h3>Transportation</h3>
        <p>What makes an efficient region?</p>
        <p><a class="btn btn-warning btn-lg" role="button">Read more</a></p>
      </a>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <a href="#">
        <h3>State of Equity</h3>
        <p>How equitable is Metro Boston?</p>
        <p><a class="btn btn-danger btn-lg" role="button">Read more</a></p>
      </a>
    </div>
  </div>
</div>