<div class="visualization" id="<%= explainable_type %>-<%= explainable_id %>">
  <!-- < javascript_include_tag "/#{viz.d3.path[7..-1]}" %> -->
  <h3>Pending visualization for <%= explainable_type.titleize %> <%= explainable_id %></h3>
</div>