<div class="visualization" id="<%= explainable_type %>-<%= explainable_id %>">
  <p style="background-color: #E68A7A; color: #FFFFFF">
    Could not load D3 from <%= viz.d3.url %>
  </p>
</div>
<%= javascript_include_tag( viz.d3.url ) %>