<div class="jumbotron">
  <h1><%= topic_area.title %></h1>
  <h3><%= topic_area.subtitle %></h3>
  <p> topic_area.lead </p>
  <p>
    <%= link_to 'Read more', '#', class: "btn btn-primary btn-lg", role: "button" %>
  </p>
</div>