<div class="col-xs-8 col-sm-6 col-md-3">  
	  <a href="#">
	    <h3><%= topic_area.title %></h3>
	    <p><%= topic_area.subtitle %></p>
	    <p><%= link_to 'Read more', topic_area_path(topic_area), class: "btn btn-primary #{topic_area.slug}", role: "button" %></p>
	  </a>
</div>