<h1 class="page-header <%= @topic_area.slug %>" id="<%= @topic_area.slug %>">
  <%= @topic_area.title %> Dashboard
</h1>

<!-- FRAMING -->

<div class="col-xs-12">
  <%= render partial: 'dashboards/subject',
             collection: @topic_area.subjects,
             locals: { topic_area_slug: @topic_area.slug } %>
</div>

</h1>