<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <% if @topic_areas[:featured].length > 0 %>
        <%= render partial: 'featured', collection: @topic_areas[:featured] %>
      <% else %>
        <%= render partial: 'featured', locals: { featured: @topic_areas[:not_featured].first } %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <%= render partial: 'topic_area', collection: @topic_areas[:not_featured] %>
  </div>
</div>