<div class="jumbotron">
  <%= render partial: 'featured', collection: @topic_areas[:featured] %>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'topic_area', collection: @topic_areas[:not_featured] %>
  </div>
</div>