<br/>

<h2 id="<%= @indicator.slug %>">
  <%= @indicator.title %>
</h2>

<br/>

<%= render partial: 'topic_areas/status',
           locals: { indicator: @indicator } %>

<br/>

<% if @indicator.explanation %>
  <%= render partial: 'topic_areas/explanation',
             locals: { explanation: @indicator.explanation } %>

<% else %>

  <p>
    This indicator has not yet been analyzed as part of the Regional Indicators project.
  </p>
  <p>
    To read about indicators that have been researched and analyzed, please see the Topical Reports above, or click on one of the Issue Area icons below.
  </p>
<% end %>