<h1 class="page-header">Goal <%= @goal.number %>: <%= @goal.title %></h1>
<p>
  <%= @goal.description %>
</p>

<br/>
<br/>

<h3>
  Related Indicators:
</h3>
<% if @goal.indicators %>
  <%= render partial: 'indicators/indicator', collection: @goal.indicators %>
<% end %>