/* colors */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

$demographics:              #660066;
$arts-culture:              #000066;
$civic-vitality-governance: #006699;
$economy:                   #00BFAC;
$education:                 #46AD24;
$environment-energy:        #91E248;
$geographic-boundaries:     #999999;
$housing:                   #FFEE2C;
$land-use-zoning:           #FFCC00;
$public-health:             #FF9900;
$public-safety:             #FF6633;
$technology:                #CC3300;
$transportation:            #990033;

$sustainable:       rgba(112,184,101,1);
$vitality:          rgba(255,35, 100,1);
$prosperity:        rgba(95, 175,208,1);
$trans-choices:     rgba(243,123,112,1);
$healthy:           rgba(25, 100,10, 1);
$equity:            rgba(119,63, 119,1);

$featured-opacity: 0.50;

$sustainable-featured:       rgba(112,184,101,$featured-opacity);
$vitality-featured:          rgba(255,35, 100,$featured-opacity);
$prosperity-featured:        rgba(95, 175,208,$featured-opacity);
$trans-choices-featured:     rgba(243,123,112,$featured-opacity);
$healthy-featured:           rgba(25, 100,10, $featured-opacity);
$equity-featured:            rgba(119,63, 119,$featured-opacity);

$text-color: #000000;
$inverse-text-color: #000000;

$headings:          rgba(0,0,0,1);
$subheadings:       rgba(39,39,39,1);

$links:          #006699;
$linkshover:     #660066;
$soft-highlight: #FFF;
$mid-highlight:  #E5E5E5;

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,900,700,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* basic typography */

body {
  padding-top: 200px;
  overflow-x: hidden;
}

html {font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
}

p {
  font-family: 'Merriweather', serif;
  //font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 30px;
  color: #424242;
}

.tt-suggestion {
  border-bottom: 1px solid #DDD;
  &:last-of-type {
    border-bottom: none;
  }
}
.tt-suggestion p {
  font-size: 14px;
}
input.tt-hint {
  display: none;
}

floatleft {
  float:left;
}

a {
  color: $links;
}

a:hover {
  color: $linkshover;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 50px;
  margin-bottom: 200px;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Rokkitt', serif;
  color: $subheadings;
}


h1 {
  letter-spacing: 0px;
  color: $headings;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  }

h2 {font-weight: 700;}

h3 {
  font-size: 2.1em;
  padding: 10px 5px;
  margin: 40px 0 20px;
  }

h4 {
  padding: 10px 5px;
  margin: 40px 0 20px;
  }

#framing {
 padding: 20px 100px;
}

.framing {
  p {
    padding: 10px;
    font-size: 1.3em;
    line-height: 34px;
    }
}

.sustainable-growth {
  background-color: $sustainable;
  color: #fff;
  padding: 10px 15px;
  margin: 40px 0 40px;
}

h2.sustainable-growth {
  background-color: $soft-highlight;
  color: $sustainable;
  padding: 10px 5px;
  margin: 40px 0 20px;
  border-bottom: 2px solid $sustainable;
  }

h3.sustainable-growth {
  background-color: $soft-highlight;
  color: $sustainable;
  }

h4.sustainable-growth {
  background-color: $soft-highlight;
  color: $sustainable;
  }

.community-vitality {
  background-color: $vitality;
  color: #fff;
  padding: 10px 15px;
  margin: 40px 0 40px;
}

h2.community-vitality {
  background-color: $soft-highlight;
  color: $vitality;
  padding: 10px 5px;
  margin: 40px 0 20px;
  border-bottom: 2px solid $vitality;
}

h3.community-vitality {
  background-color: $soft-highlight;
  color: $vitality;
}

h4.community-vitality {
  background-color: $soft-highlight;
  color: $vitality;
}

.regional-prosperity {
  background-color: $prosperity;
  color:   #FFFFFF;
  padding: 10px 15px;
  margin:  40px 0 40px;
}

.page-header {
  font-size: 250%;
}

h2.regional-prosperity{
  background-color: transparent;
  color: $prosperity;
  padding: 10px 5px;
  margin: 40px 0 20px;
  border-bottom: 2px solid $prosperity;
}

h3.regional-prosperity{
  background-color: transparent;
  color: $prosperity;
}

h4.regional-prosperity{
  background-color: transparent;
  color: $prosperity;
}

.transportation-choices {
  background-color: $trans-choices;
  color: #fff;
  padding: 10px 15px;
  margin: 40px 0 40px;
}

h2.transportation-choices {
  background-color: $soft-highlight;
  color: $trans-choices;
  padding: 10px 5px;
  margin: 40px 0 20px;
  border-bottom: 2px solid $trans-choices;
  }

h3.transportation-choices {
  background-color: $soft-highlight;
  color: $trans-choices;
}

h4.transportation-choices {
  background-color: $soft-highlight;
  color: $trans-choices;
}

.healthy-environment {
  background-color: $healthy;
  color: #fff;
  padding: 10px 15px;
  margin: 40px 0 40px;
  }

h2.healthy-environment {
  background-color: $soft-highlight;
  color: $healthy;
  padding: 10px 5px;
  margin: 40px 0 20px;
  border-bottom: 2px solid $healthy;
  }

h3.healthy-environment {
  background-color: $soft-highlight;
  color: $healthy;
}

h4.healthy-environment {
  background-color: $soft-highlight;
  color: $healthy;
}

.state-of-equity {
  background-color: $equity;
  color: #fff;
  padding: 10px 15px;
  margin: 40px 0 40px;
  }

h2.state-of-equity {
  background-color: $soft-highlight;
  color: $equity;
  padding: 10px 5px;
  margin: 40px 0 20px;
  border-bottom: 2px solid $equity;
  }

h3.state-of-equity {
  background-color: $soft-highlight;
  color: $equity;
}

h4.state-of-equity {
  background-color: $soft-highlight;
  color: $equity;
}


.btn-featured {
  z-index: 1000;
}

.col-sm-4 {
  width: 32%;
}

.alert {
  padding: 5px;
  margin: 0px 5px 20px 5px;
}

.featured {
  @media (max-width: 1199px) {
    //background: transparent;
    //opacity: $featured-opacity;
    h1 {
      color:     #FFF;
      font-size: 1.5em;
    }
    h3 {font-size: 1.2em}

    div.icons {
      position: absolute;
      opacity: $featured-opacity;
      top:  -37px;
      left: 12px;
      width: 95%;
      min-width: 300px;
      height: 20px;
    }
     a {
      font-family: Oswald;
      text-transform: uppercase;
      font-size: 0.6em;
    }
  }

  @media (min-width: 1200px) {
    height:         0;
    padding-bottom: 30%;
    border-radius:  50%;

    div.icons {
      display:    block;
      width:      200px;
      height:     200px;
      position:   relative;
      left:       188px;
      top:        -63px;
      opacity:    0.8;

      &.sustainable-growth {
        background: url(http://www.mapc.org/sites/default/files/mapc_logo.png) no-repeat; 
        background-size: 100% 100%;
      }
      &.community-vitality {
        background: url(http://www.mapc.org/sites/default/files/mapc_logo.png) no-repeat; 
        background-size: 100% 100%;
      }
      &.regional-prosperity{
        background: url('icon_sets/regional-prosperity-sm.png') no-repeat;
        background-size: 100% 100%;
      }
      &.transportation-choices {
        background: url('icon_sets/sustainable-transportation-sm.png') no-repeat; 
        background-size: 100% 100%;
      }
      &.healthy-environment {
        background: url(http://www.mapc.org/sites/default/files/mapc_logo.png) no-repeat; 
        background-size: 100% 100%;
      }
      &.state-of-equity {
        background: url('icon_sets/state-of-equity-sm.png') no-repeat;
        background-size: 100% 100%;
      }
    }

    h1 {
      position: relative;
      top:  80px;
      left: 10px;
      font-size: 200%;
      z-index: 999;
      font-family: Oswald;
      letter-spacing: 0px;
      text-transform: uppercase;
    }

    h3 {
      position: relative;
      top:  60px;
      left: 12px;
      z-index: 998;
    }

    a {
      position: relative;
      top: 70px;
      left: 110px;
      font-family: Oswald;
     // font-weight: 300;
      text-transform: uppercase;
      font-size: 0.6em;
    }

    &.sustainable-growth {     background-color: $sustainable-featured;    }
    &.community-vitality {     background-color: $vitality-featured;       }
    &.regional-prosperity{     background-color: $prosperity-featured;     }
    &.transportation-choices { background-color: $trans-choices-featured;  }
    &.healthy-environment {    background-color: $healthy-featured;        }
    &.state-of-equity {        background-color: $equity-featured;         }
  }
}

button {
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  letter-spacing: 1px;
  font-size: 1.0em;
}

.scroll_title {
  font-family: 'Rokkitt', serif;
  //font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 20px;
}

li.group {
  font-size: 14px;
}

li.group a {
  color: #656565;
  //font-family: 'Roboto', sans-serif;
  //font-weight: 300;
  //font-size: 0.9em;
}

.row {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* navigation */

/*.navbar {
  padding: 10px 0;
} */

.navbar-default {
    background-color: rgba(0,0,0,1);
    border-color: #000000;
}

/* title */
.navbar-default .navbar-brand {
  font-family: 'Rokkitt';
  font-size: 24px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #c0c0c0;
    transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}



/* Scrollspy: Major structural elements */

.myscrollspy {
  display:  block;
  position: fixed;
  top:      150px;
  bottom:    20px;
  overflow-y: scroll;
  max-width: 240px;
  div:first-of-type {
    position: relative;
    right: 60px;
  }
}

/*    Temp fix for keeping the sidebar roughly in the column. */
.bs-sidenav {
  max-width: 250px;
  position: relative;
  left: 30px;
}


/* Scrollspy: List elements */

.bs-sidenav {
  color: #787878;
  font-family: 'Roboto', sans-serif;
}

.bs-sidenav > li {
  font-weight:  400;
  font-size:    1.5em;
  padding-left:  10px;
  letter-spacing: 0px;
}

.bs-sidenav > li        > ul.nav { display: none; }
.bs-sidenav > li.active > ul.nav { display: block; }

.bs-sidenav > li        > ul     > li { font-size: 0.8em; }
.bs-sidenav > li.active > ul.nav > li.active {background-color: $prosperity-featured;}

.scroll_title {font-size: 3em;}

/* Scrollspy: Target elements (Topic Area headers) */

.scroll-target {
  padding-top: 120px !important;
  margin-top: -90px !important;
}

sup {
  padding-top: 120px !important;
  margin-top:  120px !important;
}

.sticky-title {
  background-color: #ffffff;
  z-index: 600;
}

.visualization {
  width: 100%;
  min-height: 450px;
  margin: 10px 100px 10px -10px;
  padding: 20px 20px;
  font-size: 0.9em;
  //background-color: #fafafa;
  //border: 1px solid #ececec;

  h4 {
    font-size: 24px;
    color: #333;
  }
}

.group-subtitle {
    font-size: 150%;
    padding-left: 10px;
}




/* form-group search */
.form-group {
  background-color: #ffffff;
  border-radius: 5px;
  }

/* Jumbotron */

.jumbotron {
  background-image: url('jumbotron_background_to_2k_px.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  h3 {
   // color: transparent;
   color: #fff;
   font-size: 1.3em;
   line-height: 0.9em;
   padding-top: 5px;
  }
}

div.col-md-4.regional-prosperity.featured {
  background-color: $prosperity-featured;
}

div.col-md-4.state-of-equity.featured {
  background-color: $equity-featured;
}

div.col-md-4.transportation-choices.featured {
  background-color: $trans-choices-featured;
}

.featured div.icons {
  //background-color: transparent;
  display: none;
}

/*.jumbotron {
  .container {
    .col-md-4 {
      background-color: $prosperity;
      //border-radius: 100%;
      //border-top-left-radius: 50px 100%;
      padding: 10px;
      //-moz-border-radius: 100%;
      //-webkit-border-radius: 100%;
      opacity: 0.8;
    //.col-m3-offset-1
    // background-color: $prosperity;
      //border-radius: 100%;
      //border-top-left-radius: 50px 100%;
    // padding: 10px;
      //-moz-border-radius: 100%;
      //-webkit-border-radius: 100%;
    .col-md-3.col-md-offset-1 {
      background-color: $prosperity;
      //border-radius: 100%;
      //border-top-left-radius: 50px 100%;
      padding: 10px;
      //-moz-border-radius: 100%;
      //-webkit-border-radius: 100%;
      opacity: 0.8;
    //.col-m3-offset-1
    // background-color: $prosperity;
      //border-radius: 100%;
      //border-top-left-radius: 50px 100%;
    // padding: 10px;
      //-moz-border-radius: 100%;
      //-webkit-border-radius: 100%;
    }
    }
  }
}*/

/* buttons */
//.container {
  //margin-left: 0px;
  //margin-right: 0px;
//}

.btn {
  //position: relative;
  //left: -100px;
  background-color: rgba(255,255,255,.9);
  background-image: none;
  border:0px solid #999;
  color: #333;
  letter-spacing: 1px;
  //text-decoration: none ! important;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.btn:hover {
  background: #333;
  color: #fff;
}

/*jp - trying to get sources to underline*/
.panel-title{
  text-decoration: underline;
}

.alert-default {
  background-color: #dcddde;
}

.rank {
  min-height: 52px;
}

/* footer */

#footer {
  position: absolute;
  bottom: -100px;
  max-width: 1170px;
  height: 320px;
  background-color: #fafafa;
}

.logo {
  text-align: center;
  top: 50px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  float: none;
  img {
    max-height: 120px;
  }
}

/* icons */

.issue-area-circle {
  display: inline-block;
  width:  80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: 31px;
}

.issue-area-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 20px 15px 25px 5px;
  float: left;
  border-radius: 50%;
  padding-top: 20px;
}

.issue-area-text {
  padding-top: 70px;
  font-family: Rokkitt;
  font-size: 1.1em;
  font-weight: 200;
  line-height: 16px;
  color: $text-color;
  text-align: center;
}


.public-safety {
  background-color: $public-safety;
  background-image: url("icons/public_safety.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.public-health {
  background-color: $public-health;
  background-image: url("icons/public_health.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.transportation {
  background-color: $transportation;
  background-image: url("icons/transportation.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.housing {
  background-color: $housing;
  background-image: url("icons/housing.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.arts-culture {
  background-color: $arts-culture;
  background-image: url("icons/arts.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.land-use-zoning {
  background-color: $land-use-zoning;
  background-image: url("icons/land_use.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.environment-energy {
  background-color: $environment-energy;
  background-image: url("icons/environment.png");
  background-repeat: no-repeat;
  background-position: 50%;  
}

.economy {
  background-color: $economy;
  background-image: url("icons/economy.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.civic-vitality-governance {
  background-color: $civic-vitality-governance;
  background-image: url("icons/civic.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.education {
  background-color: $education;
  background-image: url("icons/education.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.technology {
  background-color: $technology;
  background-image: url("icons/technology.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.demographics {
  background-color: $demographics;
  background-image: url("icons/demographics.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.geographic-boundaries {
  background-color: $geographic-boundaries;
}


//MEDIA QUERIES

@media (min-width: 992px) {
  .myscrollspy { display: block; }
}

@media (max-width: 992px) {
  .row {overflow-x: hidden;}
  .navbar-default .navbar-brand {
    max-width: 80%;
    position: absolute;
    padding-top: 5px;
  }
  .container > .navbar-header, .container > .navbar-collapse {
    max-width: 100%;}
  .myscrollspy {display: none;}
  p {
    font-size: 1.1em;
    //text-align: justify;
  }
  h2 { font-size: 1.9em;
    letter-spacing: 0;}
  h3 {font-size: 1.8em;}

  .jumbotron {padding: 0px;}

  #framing {
    padding: 10px 0px;
  }
  .framing {
    padding: 0px;
  h3 {font-size: 2em;}

  p {
    padding: 0px;
    font-size: 1.1em;
    line-height: 28px;
    margin: 0;
      }
    }
  .issue-area-icon {
    margin: 60px 5px 5px 5px;
  }
  div.sticky-title.row.is_stuck {
    width: 100%;
  }
  .col-sm-4 {
  width: 30%;
  }
  .alert {
    margin: 0px 2px 20px 2px;
  }
  .visualization {
  height: 50%;
  font-size: 0.7em;
  padding: 0px;
  h4 {font-size: 1.9em;}
  }
}
