/* colors */

$arts-culture:              #FFCC00;
$civic-vitality-governance: #00CCCC;
$demographics:              #660066;
$economy:                   #3A8F1D;
$education:                 #006699;
$environment-energy:        #91E248;
$geographic-boundaries:     #999999;
$housing:                   #FF9900;
$land-use-zoning:           #FFFF33;
$public-health:             #CC3300;
$public-safety:             #990033;
$technology:                #000066;
$transportation:            #FF6633;

.issue-area-icons {
  width: 100%
}

.issue-area-icon {
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  float: left;
  font-size: 12px;
  color: #FFFFFF;
}

.arts-culture {
  background-color: $arts-culture;
}

.civic-vitality-governance {
  background-color: $civic-vitality-governance;
}

.demographics {
  background-color: $demographics;
}

.economy {
  background-color: $economy;
}

.education {
  background-color: $education;
}

.environment-energy {
  background-color: $environment-energy;
}

.geographic-boundaries {
  background-color: $geographic-boundaries;
}

.housing {
  background-color: $housing;
}

.land-use-zoning {
  background-color: $land-use-zoning;
}

.public-health {
  background-color: $public-health;
}

.public-safety {
  background-color: $public-safety;
}

.technology {
  background-color: $technology;
}

.transportation {
  background-color: $transportation;
}
