<% if indicator.grouped? && indicator.first_in_group? %>
  <li class="group">
    <a href="#<%= indicator.group_slug %>">
      <%= scrollspy_item(indicator.group_title) %>
    </a>
    <ul class="nav">
<% end %>

<li>
  <a href="#<%= indicator.slug %>">
    <%= scrollspy_item(indicator.title) %>
  </a>
</li>

<% if indicator.grouped? && indicator.last_in_group? %>
    </ul>
  </li>
<% end %>
