<% if indicator.grouped? && indicator.first_in_group? %>

  <li class="group">
    <a href="#<%= indicator.group_slug %>">
      <%= scrollspy_item(indicator.group_title) %>
    </a>
  </li>

<% elsif indicator.grouped? %>

<% else %>

  <li class="group">
    <a href="#<%= indicator.slug %>">
      <%= scrollspy_item(indicator.title) %>
    </a>
  </li>
<% end %>
