<li class="scroll_title">
  <a href="#<%= subject.slug %>">
    <%= subject.title %>
  </a>

  <ul class="nav">
    <%= render partial: 'scrollspy/indicator', collection: subject.indicators %>
  </ul>
<li>