<div class="container">
  <hr>

	<div id="footer">

    <div class="row">
  	  <div class="col-xs-12 issue-area-icons">
  	    <%= issue_area_icons %>
  	  </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-4 logo">
        Built in Boston by
        <a href="http://mapc.org">
          <img src="http://www.mapc.org/sites/default/files/mapc_logo.png" />
        </a>
      </div>
    </div>
	
	</div>

</div>