<div class="col-md-3 myscrollspy">
  <div class="bs-sidebar hidden-print affix">
    <ul class="nav bs-sidenav">
      <%= render partial: 'scrollspy/subject', collection: @topic_area.subjects %>
    </ul>
  </div>
</div>
